# 1. Python compiled files
__pycache__/
*.pyc
*.pyo

# 2. Virtual environment
.venv/
venv/

# 3. Secrets
**/.env
.gradio/

# 4. IDE
.idea/
.vscode/

# 5. OS files
.DS_Store

# 6. Poetry (optional)
poetry.lock
#7. configuration file
/config.py